# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# IDE and editor settings
.vscode/
.idea/

# Logs and output
*.log
*.txt
output/
alerts.txt

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build directories
build/
dist/
*.egg-info/
